.paginationBttn{
    width:30vw;
    height:40px;
    margin-top:20px;
    list-style: none;
    display:flex;
    flex-direction: left;
    justify-content: "center";

}
.paginationBttn a{
    padding:9px;
    margin:9px;
    border-radius: 4px;
    border:1px solid #092dce;
    color:#1840f2;
    cursor: pointer;
}
